<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Lista cupones</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"
	type="text/javascript"></script>
	<script th:src="@{/js/sweetalert.min.js}" type="text/javascript"></script>
	<style type="text/css">
		p{
			color: black;
		}
	</style>
</head>
<body>
	<div th:include="/template/AdminTemplate"></div>
	<h1 class="text-center" style="color: #004080;">Lista cupones</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
			
			<a type="button" class="btn btn-primary btn-md"
				th:href="@{/empresa/nuevaOferta}"> Nueva Oferta</a>
				
				
				
		<div style="background-color: whitesmoke; padding: 2%; color: black;">
			<h2>Ofertas Activas</h2>
			<table class="table table-bordered" id="tabla">
				<thead>
					<tr>

						<th>Titulo</th>
						<th>Precio</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
						<th>Existencias</th>
						<th>Estado</th>					
					</tr>
				</thead>
				<tbody th:each="oferta : ${lista}">
					
					<tr th:if="${oferta.estadooferta.estado=='Activa'}">
						
						<td th:text="${oferta.tituloOferta}"></td>
						<td th:text="${oferta.precioOferta}"></td>
						<td th:text="${oferta.fechaInicio}"></td>
						<td th:text="${oferta.fechaFin}"></td>
						<td th:text="${oferta.cantidadLimite}"></td>						
						<td th:text="${oferta.estadooferta.estado}"></td>	
					
					</tr>
					
					
				</tbody>
			</table>
			<br><br>
			
			<h2>Ofertas en Espera</h2>
			<table class="table table-bordered" id="tabla">
				<thead>
					<tr>

						<th>Titulo</th>
						<th>Precio</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
						<th>Existencias</th>
						<th>Estado</th>					
					</tr>
				</thead>
				<tbody th:each="oferta : ${lista}">
					<tr th:if="${oferta.estadooferta.estado=='En espera'}">
						
						<td th:text="${oferta.tituloOferta}"></td>
						<td th:text="${oferta.precioOferta}"></td>
						<td th:text="${oferta.fechaInicio}"></td>
						<td th:text="${oferta.fechaFin}"></td>
						<td th:text="${oferta.cantidadLimite}"></td>						
						<td th:text="${oferta.estadooferta.estado}"></td>	
					
					</tr>
				</tbody>
			</table>
			
			<br><br>
			<h2>Ofertas Aprovadas</h2>
			<table class="table table-bordered" id="tabla">
				<thead>
					<tr>

						<th>Titulo</th>
						<th>Precio</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
						<th>Existencias</th>
						<th>Estado</th>					
					</tr>
				</thead>
				<tbody th:each="oferta : ${lista}">
					<tr th:if="${oferta.estadooferta.estado=='Aprovada'}">
						
						<td th:text="${oferta.tituloOferta}"></td>
						<td th:text="${oferta.precioOferta}"></td>
						<td th:text="${oferta.fechaInicio}"></td>
						<td th:text="${oferta.fechaFin}"></td>
						<td th:text="${oferta.cantidadLimite}"></td>						
						<td th:text="${oferta.estadooferta.estado}"></td>	
					
					</tr>
				</tbody>
			</table>
			
			<br><br>
			<h2>Ofertas Finalizadas</h2>
			<table class="table table-bordered" id="tabla">
				<thead>
					<tr>

						<th>Titulo</th>
						<th>Precio</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
						<th>Existencias</th>
						<th>Estado</th>					
					</tr>
				</thead>
				<tbody th:each="oferta : ${lista}">
					<tr th:if="${oferta.estadooferta.estado=='Finalizada'}">
						
						<td th:text="${oferta.tituloOferta}"></td>
						<td th:text="${oferta.precioOferta}"></td>
						<td th:text="${oferta.fechaInicio}"></td>
						<td th:text="${oferta.fechaFin}"></td>
						<td th:text="${oferta.cantidadLimite}"></td>						
						<td th:text="${oferta.estadooferta.estado}"></td>	
					
					</tr>
				</tbody>
			</table>
			
			
			<br><br>
			<h2>Ofertas Rechazadas</h2>
			<table class="table table-bordered" id="tabla">
				<thead>
					<tr>

						<th>Titulo</th>
						<th>Precio</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
						<th>Existencias</th>
						<th>Estado</th>					
					</tr>
				</thead>
				<tbody th:each="oferta : ${lista}">
					<tr th:if="${oferta.estadooferta.estado=='Rechazada'}">
						
						<td th:text="${oferta.tituloOferta}"></td>
						<td th:text="${oferta.precioOferta}"></td>
						<td th:text="${oferta.fechaInicio}"></td>
						<td th:text="${oferta.fechaFin}"></td>
						<td th:text="${oferta.cantidadLimite}"></td>						
						<td th:text="${oferta.estadooferta.estado}"></td>	
					
					</tr>
				</tbody>
			</table>
			<br><br>
			<h2>Ofertas Descartada</h2>
			<table class="table table-bordered" id="tabla">
				<thead>
					<tr>

						<th>Titulo</th>
						<th>Precio</th>
						<th>Fecha Inicio</th>
						<th>Fecha Fin</th>
						<th>Existencias</th>
						<th>Estado</th>					
					</tr>
				</thead>
				
				<tbody th:each="oferta : ${lista}">
					<tr th:if="${oferta.estadooferta.estado=='Descartada'}">
						
						<td th:text="${oferta.tituloOferta}"></td>
						<td th:text="${oferta.precioOferta}"></td>
						<td th:text="${oferta.fechaInicio}"></td>
						<td th:text="${oferta.fechaFin}"></td>
						<td th:text="${oferta.cantidadLimite}"></td>						
						<td th:text="${oferta.estadooferta.estado}"></td>	
					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>

	
	<!--/#footer-->
	<script>
		$(document).ready(function() {
			$('#tabla').DataTable();
		});
		
	</script>
	<div th:if="${exito}">
		<div style="display: none;" id="exito" th:text='${exito}'></div>
		<script>
		var exito = document.getElementById("exito").innerHTML;
		swal("Bien!",exito,"success");
		</script>
		
	</div>

	
	<div th:if="${fracaso}">
		<div style="display: none;" id="fracaso" th:text='${fracaso}'></div>
		<script>
		var fracaso = document.getElementById("fracaso").innerHTML;
		swal("Ups!", fracaso,"error");
		</script>


	</div>
</body>
</html>