<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Mostrar Cupón</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"
	type="text/javascript"></script>
</head>
<body>
	<div th:include="/template/EmpleadoTemplate"></div>
	<div class="container">
		<div
			style="background-color: whitesmoke; padding: 2%; color: black; margin-top: 2%; margin-bottom: 2%;">
			<form class="contenform" action="#"
				th:action="@{/empleado/obtenerCupon}" method="POST"
				th:object="${cupones}">

				<h1>Canjear Cupón</h1>

				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>

				<input type="hidden" value="nuevo" name="operacion">
				<div class="well well-sm" style="color: #C2185B;">
					<strong><span class="glyphicon glyphicon-asterisk"></span>Campos
						requeridos</strong>
				</div>

				<div class="col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<label for="codigo">Código del cupón:</label>
							<div class="input-group">
								<input type="text" class="form-control" name="codigoCupon"
									id="codigo" th:field="*{codigoCupo}"
									placeholder="Ingresa el código del cupón"><span
									class="input-group-addon"><span
									class="glyphicon glyphicon-asterisk"></span></span>
							</div>
						</div>
					</div>
				</div>
				<input type="submit" class="btn btn-info" value="Mostrar Cupon"
					name="Mostrar">
				<div style="background-color: white; padding: 1%; margin-left: 1%; margin-top: 5%;"
					class="col-md-4 col-sm-6 ">
					<div class="thumbnail">
						<div class="text-center">
							<img alt="img" class="img-responsive"
								th:src="@{/images/padlock.png}">
						</div>
						<div class="text-center">
							<h3 th:text="${cupones.ofertas.tituloOferta}" />
						</div>
						<div class="text-center">
							<div class="col-md-6">
								<p>Precio regular:</p>
								<p th:text="'$'+${ofertas.precioRegular}" />
							</div>
							<div class="col-md-6">
								<p>Precio oferta:</p>
								<p th:text="'$'+${ofertas.precioOferta}" />
							</div>
						</div>
						<div class="text-center">
							<div class="col-md-6">
								<p>Fecha inicial:</p>
								<p th:text="${ofertas.fechaInicio}" />
							</div>
							<div class="col-md-6">
								<p>Fecha final:</p>
								<p th:text="${ofertas.fechaFin}" />
							</div>
							<div class="col-md-12">
								<p>Fecha limite:</p>
								<p th:text="${ofertas.fechaLimite}" />
							</div>
						</div>
						<div class="text-center">
							<p th:text="${ofertas.descripcionOferta}"></p>
						</div>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-primary"
							style="background-color: #004080;" data-toggle="modal"
							th:data-target="'#exampleModal'+${ofertas.idOferta}">
							Canjear</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>