<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Todo Ofertas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"
	type="text/javascript"></script>
</head>
<body>
	<div th:include="/template/ClienteTemplate"></div>


	<section id="mainservice">
		<div class="container">

			<div class="section-header">
				<h2 class="section-title wow fadeInDown" style="color: #004080;">Ofertas</h2>
				<p class="wow fadeInDown"></p>
			</div>

			<div class="row" th:each="ofertas : ${oActiva}">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail"
						style="border: 1px solid gray; padding: 5px;">
						<img class="img-responsive" th:src="@{/images/ofertas.jpg}" alt="">
						<div class="caption">
							<h3 style="color: #3EC1D5;" th:text="${ofertas.tituloOferta}"></h3>
							<p th:text="${ofertas.descripcionOferta}"></p>

							<p class="price" th:text="'Fecha final: '+${ofertas.fechaFin}"></p>
							<br />
							<div class="row">


								<div class="col-md-6">

									<button type="button" class="btn btn-primary"
										style="background-color: #004080;" data-toggle="modal"
										th:data-target="'#exampleModal'+${ofertas.idOferta}">
										Ver oferta</button>
								</div>

								<div class="col-md-6">
									<p>
									<h4 style="font-size: 18px;"
										th:text="'$'+${ofertas.precioOferta} "></h4>

									<h4 style="text-decoration: line-through;"
										th:text="'$'+${ofertas.precioRegular}"></h4>

									</p>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer" style="width: 100%; bottom: 0;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">&copy; 2018 Todo ofertas.
					Derechos reservados.</div>
			</div>
		</div>
	</footer>


	<!--/#main-slider-->
	</ body>
</html>