<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<header id="header">
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top"
		role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/cliente/inicio}"> <img
					src="/images/logo.png" alt="logo"
					style="width: 80px; margin: 0; position: absolute; margin-top: -15px;"></a>
			</div>

			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">


					<li class="scroll"><a th:href="@{/cliente/inicio}">Inicio</a></li>
					
					
					
					<li class="scroll"><a
						th:href="@{/cliente/ofertas}">Ofertas</a></li>

					<li class="scroll"><a
						th:href="@{/cliente/cupones}">Cupones</a></li>
				   
				   

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> Mi cuenta <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">

							<li><a href="#">Cambiar contraseña</a></li>
							<li style="padding: 10px;">
								<form th:action="@{/logout}" method="post">
									<input style="background: none; border: 0;" type="submit"
										value="Cerrar sesión" />
								</form>
							</li>


						</ul></li>
						
				</ul>
			</div>
		</div>
		<!--/.container-->
	</nav>
	<!--/nav-->
</header>
<!--/header-->
</html>