<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Modificar rubro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"
	type="text/javascript"></script>
	<script th:src="@{/js/sweetalert.min.js}" type="text/javascript"></script>
</head>
<body>
	<div th:include="/template/AdminTemplate"></div>
	<div class="container">
		<div
			style="background-color: whitesmoke; padding: 2%; color: black; margin-top: 2%; margin-bottom: 2%;">

			<form class="contenform" action="#"
				th:action="@{/administrador/modificarRubro}" method="post"
				th:object="${rubros}">
				<h1>Modificar rubros</h1>

				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
				<input type="hidden" th:field="*{idRubro}" />
				<input type="hidden" value="nuevo" name="operacion">
				<div class="well well-sm" style="color: #C2185B;">
					<strong><span class="glyphicon glyphicon-asterisk"></span>Campos
						requeridos</strong>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="codigo">Nombre del rubro:</label>
						<div class="input-group">
							<input type="text" class="form-control" name="rubro"
								id="rubro" th:field="*{rubro}"
								placeholder="Ingresa el nombre de la empresa"> <span
								class="input-group-addon"><span
								class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
				</div>
				<input type="submit" class="btn btn-info" value="Guardar"
					name="Guardar">
			</form>
		</div>
	</div>
	<footer id="footer" style="width: 100%; position: absolute; bottom: 0;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">&copy; 2018 Todo ofertas.
					Derechos reservados.</div>
			</div>
		</div>
	</footer>
	<div th:if="${fracaso}">
		<div style="display: none;" id="fracaso" th:text='${fracaso}'></div>
		<script>
		var fracaso = document.getElementById("fracaso").innerHTML;
		swal("Ups!", fracaso,"error");
		</script>


	</div>
</body>
</html>