<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Inicio de sesión</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.core.css}" rel="stylesheet" />
<link th:href="@{/css/alertify.default.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.12.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/alertify.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"
	type="text/javascript"></script>
<script th:src="@{/js/sweetalert.min.js}" type="text/javascript"></script>

</head>
<body>

	<div th:include="/template/PublicTemplate"></div>

	<div class="container"
		style="color: black; margin-top: 5%; margin-bottom: 2%; width: 600px;">

		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"
			style="border: 0;">
			<li class="nav-item active" style="width: 49.8%; border-radius: 0;"><a
				class="nav-link active" id="pills-home-tab" data-toggle="pill"
				href="#pills-home" role="tab" style="border-radius: 0;"
				aria-controls="pills-home" aria-selected="true">Inicia Sesión</a></li>
			<li class="nav-item" style="width: 49.8%; border-radius: 0;"><a
				class="nav-link" id="pills-profile-tab" data-toggle="pill"
				href="#pills-profile" role="tab" style="border-radius: 0;"
				aria-controls="pills-profile" aria-selected="false">Registrate</a></li>
		</ul>

		<div class="tab-content" id="pills-tabContent"
			style="border: 0; background-color: whitesmoke; padding: 5%;">
			<div class="tab-pane fade active in" id="pills-home" role="tabpanel"
				aria-labelledby="pills-home-tab">

				<section id="contact-us" class="form-group" style="width: 100%;">

					<div class="section-header" style="margin: 0;">
						<h2 class="section-title wow fadeInDown"
							style="color: black; display: block;">Iniciar Sesión</h2>
						<p class="wow fadeInDown"></p>
					</div>

				</section>


				<div th:if="${param.error}" class="alert alert-danger">Usuario
					y/o contraseña incorrecta</div>
				<div th:if="${param.logout}" class="alert alert-info">Se ha
					cerrado la sesión</div>
				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<label for="username">Ingrese su correo electrónico:</label> <input
							class="form-control" id="correo" type="text" name="correo" />
					</div>
					<div class="form-group">
						<label class="password">Ingrese su contraseña:</label> <input
							class="form-control" id="password" type="password"
							name="password" />
					</div>
					<div style="text-align: right">
						<a href="#">¿Olvido su contraseña?</a>
					</div>
					<div>
						<input class="btn btn-primary" style="background: #004080;"
							type="submit" value="Iniciar sesión" />


					</div>
				</form>

			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel"
				aria-labelledby="pills-profile-tab">

				<section id="contact-us" class="form-group" style="width: 100%;">

					<div class="section-header" style="margin: 0;">
						<h2 class="section-title wow fadeInDown"
							style="color: black; display: block; text-align: right;">Registrate</h2>
						<p class="wow fadeInDown"></p>
					</div>

				</section>

				<form action="#" th:action="@{/public/nuevoCliente}" method="post"
					th:object="${clientes}">

					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" style="padding-left: 30px;">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>

					<div class="form-group">
						<label for="username">Nombres:</label> <input class="form-control"
							th:field="*{nombreClientes}" id="nombres" type="text"
							name="nombres" />
					</div>

					<div class="form-group">
						<label for="username">Apellidos:</label> <input
							class="form-control" th:field="*{apellidosClientes}"
							id="apellidos" type="text" name="apellidos" />
					</div>

					<div class="form-group">
						<label for="username">Correo electrónico:</label> <input
							class="form-control" th:field="${usuarios.correo}" id="correo"
							type="text" name="correo" />
					</div>
					<div class="form-group">
						<label class="password">Contraseña:</label> <input
							class="form-control" id="password" type="password"
							th:field="${usuarios.contrasena}" name="password" />
					</div>

					<div class="form-group">
						<label for="username">Dirección:</label> <input
							class="form-control" th:field="*{direccion}" id="direccion"
							type="text" name="direccion" />
					</div>

					<div class="form-group">
						<label for="username">DUI:</label> <input class="form-control"
							th:field="*{dui}" id="dui" type="text" name="dui" />
					</div>

					<br />

					<div>
						<input class="btn btn-primary" style="background: #004080;"
							type="submit" value="Registrarme" />


					</div>
				</form>


			</div>

		</div>


	</div>

	<script>
        $(document).ready(function() {
            $('#tabla').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    
                ],
                "language": {
                    "search": "Buscar: ",
                    "paginate": {
                                 "first": " |< ",
                                 "previous": "Ant.",
                                 "next": "Sig.",
                                 "last": " >| "
                    }
                }
                
            });
        });

        function eliminar(id) {


            swal({
                title: '¿Seguro que lo deseas eliminar?',
                text: "Si aceptas no podras revertir los cambios!",
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            })
                    .then((willDelete) => {
                        if (willDelete) {
                            location.href = "rubros.do?operacion=eliminar&id=" + id
                        }
                    })


        }
    </script>

	<div th:if="${exito}">
		<div style="display: none;" id="exito" th:text='${exito}'></div>
		<script>
		var exito = document.getElementById("exito").innerHTML;
		swal("Bien!",exito,"success");
		</script>
		
	</div>

	
	<div th:if="${fracaso}">
		<div style="display: none;" id="fracaso" th:text='${fracaso}'></div>
		<script>

		$('#pills-tab a[href="#pills-profile"]').tab('show')
		
		var fracaso = document.getElementById("fracaso").innerHTML;
		swal("Ups!", fracaso,"error");
		</script>

	</div>
	
	<div th:if="${clientes.nombreClientes}">
		<script>
			$('#pills-tab a[href="#pills-profile"]').tab('show')
		</script>
	</div>





</body>
</html>